.footer-container {
    background-color: whitesmoke; /* rgba(10, 78, 99, 0.986) */
    padding: 20px;
    text-align: center;
  }
  
  .footer-subscription-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer-subscription-text {
    font-size: 1rem;
    margin: 5px 0;
  }
  